@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: -apple-system, Poppins, BlinkMacSystemFont, segoe ui, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    word-break: break-word;
}



body {
    transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

/* 为所有受主题切换影响的元素添加过渡 */
[aria-live="polite"] {
    transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

:root {
    --transition-duration: 0.7s;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --font-sans-serif: HarmonyOS_Regular, "MiSans VF", "OPPO Sans", "SF Pro SC", "PingFang SC", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Noto Sans SC", "Microsoft Yahei", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-serif: "Noto Serif", 'Noto Serif SC', ui-serif, Georgia, STZhongsong, STSong, PMingLiu, SimSun, "WenQuanYi Bitmap Song", "Times New Roman", Times, serif;
    --font-mono: ChineseFont, "Cascadia Code", "Source Code Pro", "Noto Sans Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

@layer base {
    :root {
        --transition-duration: 0.7s;
        --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        --background: 0 0% 100%; /* 白色 */
        --foreground: 0 0% 0%; /* 纯黑色 */
        --card: 0 0% 100%; /* 白色 */
        --card-foreground: 0 0% 0%; /* 纯黑色 */
        --popover: 0 0% 100%; /* 白色 */
        --popover-foreground: 0 0% 0%; /* 纯黑色 */
        --primary: 0 0% 0%; /* 纯黑色 */
        --primary-foreground: 0 0% 100%; /* 白色 */
        --secondary: 0 0% 90%; /* 浅灰色 */
        --secondary-foreground: 0 0% 0%; /* 纯黑色 */
        --muted: 0 0% 90%; /* 浅灰色 */
        --muted-foreground: 0 0% 40%; /* 深灰色 */
        --accent: 0 0% 90%; /* 浅灰色 */
        --accent-foreground: 0 0% 0%; /* 纯黑色 */
        --destructive: 0 72.22% 50.59%; /* 红色 */
        --destructive-foreground: 0 0% 100%; /* 白色 */
        --border: 0 0% 90%; /* 浅灰色 */
        --input: 0 0% 90%; /* 浅灰色 */
        --ring: 0 0% 60%; /* 中灰色 */
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 10%; /* 深灰色 */
        --foreground: 0 0% 98%; /* 白色 */
        --card: 0 0% 10%; /* 深灰色 */
        --card-foreground: 0 0% 98%; /* 白色 */
        --popover: 0 0% 10%; /* 深灰色 */
        --popover-foreground: 0 0% 98%; /* 白色 */
        --primary: 0 0% 98%; /* 白色 */
        --primary-foreground: 0 0% 10%; /* 黑色 */
        --secondary: 0 0% 20%; /* 深灰色 */
        --secondary-foreground: 0 0% 98%; /* 白色 */
        --muted: 0 0% 20%; /* 深灰色 */
        --muted-foreground: 0 0% 60%; /* 中灰色 */
        --accent: 0 0% 20%; /* 深灰色 */
        --accent-foreground: 0 0% 98%; /* 白色 */
        --destructive: 0 62.8% 30.6%; /* 红色 */
        --destructive-foreground: 0 85.7% 97.3%; /* 白色 */
        --border: 0 0% 20%; /* 深灰色 */
        --input: 0 0% 20%; /* 深灰色 */
        --ring: 0 0% 80%; /* 浅灰色 */
    }
}


@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        /* font-feature-settings: "rlig" 1, "calt" 1; */
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
}

@layer utilities {
    .step {
        counter-increment: step;
    }

    .step:before {
        @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
        @apply ml-[-50px] mt-[-4px];
        content: counter(step);
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes flowingTextGradient {
    0% { background-position: 200% 50%; }
    100% { background-position: -100% 50%; }
}

.bg-animate {
    animation: gradientShift 15s ease infinite;
}

.flowing-text-animate {
    background-image: linear-gradient(90deg,
    #ffffff 0%,
    rgba(180, 144, 255, 0.8) 25%,
    #ffffff 50%,
    rgba(211, 160, 255, 0.66) 75%,
    #ffffff 100%
    );
    background-size: 200% 100%;
    animation: flowingTextGradient 15s linear infinite;
}


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 44%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 210 40% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 221.2 83.2% 53.3%;
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
    }
}


@layer base {
    :root {
        --chart-r1: 347 77% 50%;
        --chart-r2: 352 83% 91%;
        --chart-r3: 350 80% 72%;
        --chart-r4: 351 83% 82%;
        --chart-r5: 349 77% 62%;
    }

    .dark {
        --chart-r1: 347 77% 50%;
        --chart-r2: 349 77% 62%;
        --chart-r3: 350 80% 72%;
        --chart-r4: 351 83% 82%;
        --chart-r5: 352 83% 91%;
    }
}


/* NProgress - 进度条*/
#nprogress .bar {
    background: linear-gradient(to right, #ffffff, #5c8efb); /* 进度条的渐变颜色 */
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #eafdff;
    border-left-color: #73cfff;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}